<mat-toolbar color="primary" class="gc-toolbar-header">
  <div class="gc-toolbar-left">
    <span [routerLink]="['/']">Gestion Compte</span>
  </div>

  <div class="gc-toolbar-center">
    @for (user of users; track user; let idx = $index) {
      <div class="gc-user-menu-container">
        <div
          (mouseenter)="openMenu(menuTriggers.toArray()[idx])"
          [matMenuTriggerFor]="menus.toArray()[idx]"
          class="gc-circle-user"
          [ngStyle]="{'background-color': user.backgroundColor, 'color': user.letterColor, 'border-color': user.letterColor}"
        >
          {{ user.firstname | firstLetter }}
        </div>

         Menu Principal pour chaque utilisateur
        <mat-menu #menu="matMenu" class="gc-centered-menu" style="align-self: center">
          <div (mouseleave)="closeMenu(menuTriggers.toArray()[idx])">
            <button mat-menu-item [routerLink]="['/mon-profil/:id', {id: user.id}]">Mon profil</button>
            <button mat-menu-item>Bilan Annuel</button>
            <button mat-menu-item>Bilan total</button>
          </div>
        </mat-menu>
      </div>
    }
  </div>

  <div class="gc-toolbar-right">
    <span>
        <i class="fa-solid fa-house"></i>
    </span>
  </div>
</mat-toolbar>


