@import "../../variables";

.titre-application {
  font-size: 2.5em;
  margin: 0;

}

.dropdown {
  position: relative;
  display: flex;
  justify-content: space-around;
  min-width: 30%;
}

.dropdown-content{
  display: none;
  position : absolute;
  width: 100px;
  background-color: lightsteelblue;
  top: 42px;
  z-index: 20;
}

.dropdown-content li {
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content li:hover {
  background-color: lightpink;
}

.dropdown:hover .dropdown-content,
.dropdown-content:hover{
  display: block;
  width: 100px;
}

.gc-circle-user{
  padding: 5px;
  font-size: 1.2em;
  position: relative;
}

.gc-toolbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $beige;
  color: $bleu;
}

.gc-toolbar-left {
  flex: 1;
  text-align: left;
}

.gc-toolbar-center {
  flex: 2;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.gc-toolbar-right {
  flex: 1;
  text-align: right;
}

.cdk-overlay-container{
  transform: translateX(-35%) !important;
}

.gc-centered-menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.gc-user-menu-container {
  position: relative;
  display: inline-block;
}
