<form [formGroup]="datePickerForm" >

    <mat-form-field>
      <mat-label>Mois</mat-label>
      <mat-select formControlName="month">
        @for (month of months; track month) {
          <mat-option [value]="month">{{ month }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Année</mat-label>
      <mat-select formControlName="year">
        @for (year of years; track year) {
          <mat-option [value]="year">{{ year }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
</form>
