<mat-accordion>
  @for (spend of spends(); track spend; ) {
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> {{ spend.name }}</mat-panel-title>
        <mat-panel-description>
          {{ spend.amount }} €
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="gc-description-panel-expansion">
        <div class="gc-first-description">
          <div>
            <p>Libellé</p>
            <span class="libelle-text">{{ spend.tag.label }}</span>
          </div>
          <div>
            <p>Pour qui ?</p>
            <div class="gc-user-in-table">
              @for (user of spend.recipients; track user) {
                <div class="gc-circle-user"
                     [ngStyle]="{'background-color' : user.backgroundColor,
                                 'color': user.letterColor,
                                 'border-color': user.letterColor}">
                  {{ user.firstname | firstLetter }}
                </div>
              }
            </div>
          </div>
        </div>

        <div class="gc-second-description">

          <div>
            <p>Payeur</p>
            <div class="gc-circle-user"
                 [ngStyle]="{'background-color' : spend.payer.backgroundColor,
                             'color': spend.payer.letterColor,
                             'border-color': spend.payer.letterColor}">
              {{ spend.payer.firstname | firstLetter }}
            </div>
          </div>

          <div class="gc-expansion-actions">
            <mat-icon (click)="onEdit(spend)">edit</mat-icon>
            <mat-icon (click)="onDelete(spend)">delete</mat-icon>
          </div>
        </div>
      </div>

    </mat-expansion-panel>
  }
</mat-accordion>


<button mat-raised-button (click)="openSpendInPopup(null)" class="button-add" color="primary">
  Ajouter dépense
</button>
