i{
  height: 20px;
  width: 20px;
}

.gc-table-manage-user{
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.gc-circle-user.gc-user-in-table.gc-payer{
  margin:auto;
}

