<mat-accordion>
  @for (income of incomes(); track income; ) {
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="gc-circle-user"
               [ngStyle]="{'background-color' : income.user.backgroundColor, 'color': income.user.letterColor, 'border-color': income.user.letterColor}">
            {{ income.user.firstname | firstLetter }}
          </div>
        </mat-panel-title>
        <mat-panel-description class="tag">
          {{ income.tag.label }}
        </mat-panel-description>
        <mat-panel-description class="amount">
          {{ income.amount }} €
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="gc-expansion-actions">
      <mat-icon (click)="onEdit(income)">edit</mat-icon>
      <mat-icon (click)="onDelete(income)">delete</mat-icon>
      </div>
    </mat-expansion-panel>
  }
</mat-accordion>

<button mat-raised-button (click)="addData(null)" class="button-add" color="primary">
  Ajouter revenu
</button>

